header{
    height: 7rem;
    width: 100%;
    background-color: #3a4750; 
    color: #d72323;
}
h1{
    margin: 0 2rem; 
    width: max-content;
}
nav a{
    color: #eeeeee;
}
header ul, header li {
    display: inline;
}
nav li{
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0 1rem;
}
nav a:hover{
    color: #d72323;
}
section.characters{
    width: 80%;
    margin: 0 auto;
}