div.item-card{
    background-color: #3a4750;
    border: 2px solid #404f59;
    width: 48%;
    margin: 2rem 0;
    height: 15rem;
}
div.item-card h3{
    padding: 1rem 2rem;
    width: fit-content;
    background-color: #eeeeee;
    border-radius: 0 10px 10px 0;
    text-align: left;
    color: #d72323;
}
div.item-card p{
    width: 80%;
    margin: 2rem auto;
    text-align: left;
}
div.item-card img{
    margin: 0 2rem;
    border: 2px solid #d72323;
    float: left;
}
div.item-card:nth-child(odd){
    float: left;
}
div.item-card:nth-child(even){
    float: right;
}