@import '../../scss/variables.scss';

a{
    color: white;
    &.attribute{
        color: $text-2;
        text-decoration: none;
    }
}
footer{
    width: calc(100% - 4rem);
    padding: 2rem;
    float: left;
    background-color: $background-2; 
}