body {
  margin: 0;
  background-color: #303841;
  color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div{
  margin: 0 auto;
}
button.load-more{
  padding: 1rem;
  border: 2px solid #3a4750;
  background-color: #d72323;
  color: #eeeeee;
}