@import '../scss/typography.scss';
@import '../scss/variables.scss';
body {
  margin: 0;
  background-color: $text-1;
  color: $text-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  background-color: $background-2;
  color: $text-1;
}
h1{
  font-size: 32px;
}
div{
  margin: 0 auto;
  &.profile, & .project{
    margin: 20px 200px;
    text-align: left;
    color: $background-1;
    p{
      padding: 20px;
      color: $text-1;
      background-color: $background-2;
    }
  }
}
button.load-more{
  padding: 1rem;
  border: 2px solid #3a4750;
  background-color: $text-2;
  color: #eeeeee;
  &:disabled{
    visibility: hidden;
  }
}
p.status{
  float: left;
}